<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<h1>Most Popular Secrets...</h1>
		<a href="{% url 'secrets:dashboard' %}">Back</a>

		<!-- {{secret.like__count}} gives number of like -->
		{% for secret in secrets %}
			<p>{{secret.content}} ({{secret.created_at}}) {{secret.like__count}} likes

			{% if secret.user_id == user.id %}
				<strong>You posted this</strong> <a href="/secrets/{{secret.id}}/delete">Delete</a>
			{% elif secret.already_liked %}
				<strong>You liked this</strong>
			{% else %}
				<a href="/secrets/{{secret.id}}/like">Like</a></p>
			{% endif %}
		{% endfor %}



	</body>
</html>